<div class="ui-elements-wrapper">
    <div class="sidebar">
      <a routerLink="alerts" routerLinkActive="active"></a>
      <a routerLink="avatars" routerLinkActive="active"></a>
      <a routerLink="badges" routerLinkActive="active"></a>
      <a routerLink="buttons" routerLinkActive="active"></a>
      <a routerLink="button-group" routerLinkActive="active"></a>
      <a routerLink="cards" routerLinkActive="active"></a>
      <a routerLink="advanced-cards" routerLinkActive="active"></a>
      <a routerLink="dropdowns" routerLinkActive="active"></a>
      <a routerLink="list-items" routerLinkActive="active"></a>
      <a routerLink="progress-bar" routerLinkActive="active"></a>
      <a routerLink="placeholders" routerLinkActive="active"></a>
      <a routerLink="spinners" routerLinkActive="active"></a>
  
    </div>
  
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  