<div class="account-wrapper">
    <div class="sidebar">
      <a routerLink="income" routerLinkActive="active"></a>
      <a routerLink="payment" routerLinkActive="active"></a>
      <a routerLink="invoice" routerLinkActive="active"></a>
      <a routerLink="invoice-detail" routerLinkActive="active"></a>
      <a routerLink="create-invoice" routerLinkActive="active"></a>
      <a routerLink="expenses" routerLinkActive="active"></a>
  
  
    </div>
  
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  