<li class="treeview">
    <a href="#!">
      <i class="ri-bar-chart-line"></i>
      <span class="menu-text">Graphs</span>
    </a>

    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
      Click me
      <nz-icon nzType="down" />
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="onGraphClick('Apex')">Apex Graphs</li>
        <li nz-menu-item (click)="onGraphClick('Morris')">Morris Graphs</li>
        <li nz-menu-divider></li>
        
      </ul>
      <app-apex-graphs />
      <app-morris-graphs />
      