<div class="forms-wrapper">
    <div class="sidebar">
      <a routerLink="form-inputs" routerLinkActive="active"></a>
      <a routerLink="checkbox-radio" routerLinkActive="active"></a>
      <a routerLink="file-input" routerLinkActive="active"></a>
      <a routerLink="validations" routerLinkActive="active"></a>
      <a routerLink="datetime-pickers" routerLinkActive="active"></a>
      <a routerLink="input-masks" routerLinkActive="active"></a>
      <a routerLink="input-tags" routerLinkActive="active"></a>
    </div>
  
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  