<body class="error-bg">

    <div class="container">
      <!-- Error container starts -->
      <div class="error-container">

        <h1 class="mb-2">404</h1>
        <h3 class="fw-light mb-4">
          We're sorry but it looks <br>like that page doesn't exist
          anymore.
        </h3>
        <a href="index-2.html" class="btn px-4 py-2 fs-5"><i class="ri-arrow-left-s-line lh-1 me-2"></i> Back to
          Home</a>
      </div>
      <!-- Error container ends -->
    </div>

  </body>