<div class="app-container">

    <!-- App hero header starts -->
    <div class="app-hero-header d-flex align-items-center">

      <!-- Breadcrumb starts -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
          <a href="/hospital-dashboard">Home</a>
        </li>
        <li class="breadcrumb-item text-primary" aria-current="page">
          Invoices
        </li>
      </ol>
      <!-- Breadcrumb ends -->

      <!-- Sales stats starts -->
      <div class="ms-auto d-lg-flex d-none flex-row">
        <div class="d-flex flex-row gap-1 day-sorting">
          <button class="btn btn-sm btn-primary">Today</button>
          <button class="btn btn-sm">7d</button>
          <button class="btn btn-sm">2w</button>
          <button class="btn btn-sm">1m</button>
          <button class="btn btn-sm">3m</button>
          <button class="btn btn-sm">6m</button>
          <button class="btn btn-sm">1y</button>
        </div>
      </div>
      <!-- Sales stats ends -->

    </div>
    <!-- App Hero header ends -->

    <!-- App body starts -->
    <div class="app-body">

      <!-- Row start -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="d-flex align-items-end justify-content-between">
                <small>Select all checkboxes to send an update.</small>
                <button class="btn btn-secondary" disabled>Send to everyone</button>
              </div>
            </div>
            <div class="card-body">
              <div class="table-outer">
                <div class="table-responsive">
                  <table class="table align-middle m-0">
                    <thead style="font-size: medium; font-style: normal; font-weight:bold;">
                      <tr>
                        <th>
                          <div class="form-check m-0">
                            <input class="form-check-input" type="checkbox" value="" id="checkAll">
                          </div>
                        </th>
                        <th>Invoice No.</th>
                        <th>Patient</th>
                        <th>Created Date</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Money Spent</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="form-check m-0">
                            <input class="form-check-input" type="checkbox" value="" id="check1">
                          </div>
                        </td>
                        <td style="font-size: smaller;">#00001</td>
                        <td>
                          <div class="fw-semibold" style="font-size: smaller;">Elisa Shah</div>
                        </td>
                        <td style="font-size: smaller;">20/04/2024</td>
                        <td style="font-size: smaller;">24/04/2024</td>
                        <td style="font-size: smaller;">$9830.00</td>
                        <td>
                          <span class="badge bg-success">Paid</span>
                        </td>
                        <td>
                          <button class="btn btn-primary btn-sm">
                            Send Mail
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check m-0">
                            <input class="form-check-input" type="checkbox" value="" id="check2">
                          </div>
                        </td>
                        <td style="font-size: smaller;">#00002</td>
                        <td>
                          <div class="fw-semibold" style="font-size: smaller;">Ladonna Jones</div>
                        </td>
                        <td style="font-size: smaller;">12/04/2024</td>
                        <td style="font-size: smaller;">19/04/2024</td>
                        <td style="font-size: smaller;">$4567.60</td>
                        <td>
                          <span class="badge bg-warning">Pending</span>
                        </td>
                        <td>
                          <button class="btn btn-primary btn-sm">
                            Send Mail
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check m-0">
                            <input class="form-check-input" type="checkbox" value="" id="check3">
                          </div>
                        </td>
                        <td style="font-size: smaller;">#00003</td>
                        <td>
                          <div class="fw-semibold" style="font-size: smaller;">Shelly Daniel</div>
                        </td>
                        <td style="font-size: smaller;">11/04/2024</td>
                        <td style="font-size: smaller;">18/04/2024</td>
                        <td style="font-size: smaller;">$2908.00</td>
                        <td>
                          <span class="badge bg-success">Paid</span>
                        </td>
                        <td>
                          <button class="btn btn-primary btn-sm">
                            Send Mail
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check m-0">
                            <input class="form-check-input" type="checkbox" value="" id="check4">
                          </div>
                        </td>
                        <td style="font-size: smaller;">#00004</td>
                        <td>
                          <div class="fw-semibold" style="font-size: smaller;">Rich Spears</div>
                        </td>
                        <td style="font-size: smaller;" >19/04/2024</td>
                        <td style="font-size: smaller;">21/04/2024</td>
                        <td style="font-size: smaller;">$3985.00</td>
                        <td>
                          <span class="badge bg-danger">Overdue</span>
                        </td>
                        <td>
                          <button class="btn btn-primary btn-sm">
                            Send Mail
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check m-0">
                            <input class="form-check-input" type="checkbox" value="" id="check5">
                          </div>
                        </td>
                        <td style="font-size: smaller;">#00005</td>
                        <td>
                          <div class="fw-semibold" style="font-size: smaller;">Carey Russo</div>
                        </td>
                        <td style="font-size: smaller;">20/04/2024</td>
                        <td style="font-size: smaller;">25/04/2024</td>
                        <td style="font-size: smaller;">$8908.00</td>
                        <td>
                          <span class="badge bg-success">Paid</span>
                        </td>
                        <td>
                          <button class="btn btn-primary btn-sm">
                            Send Mail
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check m-0">
                            <input class="form-check-input" type="checkbox" value="" id="check6">
                          </div>
                        </td>
                        <td style="font-size: smaller;">#00006</td>
                        <td>
                          <div class="fw-semibold" style="font-size: smaller;">Emmett Montes</div>
                        </td>
                        <td style="font-size: smaller;">19/04/2024</td>
                        <td style="font-size: smaller;">22/04/2024</td>
                        <td style="font-size: smaller;">$3452.00</td>
                        <td>
                          <span class="badge bg-warning" >Pending</span>
                        </td>
                        <td>
                          <button class="btn btn-primary btn-sm">
                            Send Mail
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check m-0">
                            <input class="form-check-input" type="checkbox" value="" id="check7">
                          </div>
                        </td>
                        <td style="font-size: smaller;">#00007</td>
                        <td>
                          <div class="fw-semibold" style="font-size: smaller;">Cheri Trujillo</div>
                        </td>
                        <td style="font-size: smaller;">28/04/2024</td>
                        <td style="font-size: smaller;">30/05/2024</td>
                        <td style="font-size: smaller;">$6530.00</td>
                        <td>
                          <span class="badge bg-success">Paid</span>
                        </td>
                        <td>
                          <button class="btn btn-primary btn-sm">
                            Send Mail
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check m-0">
                            <input class="form-check-input" type="checkbox" value="" id="check8">
                          </div>
                        </td>
                        <td style="font-size: smaller;">#00008</td>
                        <td>
                          <div class="fw-semibold" style="font-size: smaller;">Hans Hayes</div>
                        </td>
                        <td style="font-size: smaller;">12/05/2024</td>
                        <td style="font-size: smaller;">27/05/2024</td>
                        <td style="font-size: smaller;">$6750.00</td>
                        <td>
                          <span class="badge bg-warning">Pending</span>
                        </td>
                        <td>
                          <button class="btn btn-primary btn-sm">
                            Send Mail
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check m-0">
                            <input class="form-check-input" type="checkbox" value="" id="check9">
                          </div>
                        </td>
                        <td style="font-size: smaller;">#00009</td>
                        <td>
                          <div class="fw-semibold" style="font-size: smaller;">Dena Ramsey</div>
                        </td>
                        <td style="font-size: smaller;">13/06/2024</td>
                        <td style="font-size: smaller;">26/06/2024</td>
                        <td style="font-size: smaller;">$5490.00</td>
                        <td>
                          <span class="badge bg-warning">Pending</span>
                        </td>
                        <td>
                          <button class="btn btn-primary btn-sm">
                            Send Mail
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check m-0">
                            <input class="form-check-input" type="checkbox" value="" id="check10">
                          </div>
                        </td>
                        <td style="font-size: smaller;">#000010</td>
                        <td>
                          <div class="fw-semibold" style="font-size: smaller;">Reed Case</div>
                        </td>
                        <td style="font-size: smaller;">02/06/2024</td>
                        <td style="font-size: smaller;">24/06/2024</td>
                        <td style="font-size: smaller;">$3379.00</td>
                        <td>
                          <span class="badge bg-success">Paid</span>
                        </td>
                        <td>
                          <button class="btn btn-primary btn-sm">
                            Send Mail
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Row end -->

    </div>
    <!-- App body ends -->

    <!-- App footer starts -->
    <div class="app-footer bg-white">
      <span>© Medflex admin 2024</span>
    </div>
    <!-- App footer ends -->

  </div>