<div class="app-container">

    <!-- App hero header starts -->
    <div class="app-hero-header d-flex align-items-center">

      <!-- Breadcrumb starts -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
          <a href="/hospital-dashboard">Home</a>
        </li>
        <li class="breadcrumb-item text-primary" aria-current="page">
          Alerts
        </li>
      </ol>
      <!-- Breadcrumb ends -->

      <!-- Sales stats starts -->
      <div class="ms-auto d-lg-flex d-none flex-row">
        <div class="d-flex flex-row gap-1 day-sorting">
          <button class="btn btn-sm btn-primary">Today</button>
          <button class="btn btn-sm">7d</button>
          <button class="btn btn-sm">2w</button>
          <button class="btn btn-sm">1m</button>
          <button class="btn btn-sm">3m</button>
          <button class="btn btn-sm">6m</button>
          <button class="btn btn-sm">1y</button>
        </div>
      </div>
      <!-- Sales stats ends -->

    </div>
    <!-- App Hero header ends -->

    <!-- App body starts -->
    <div class="app-body">

      <!-- Row starts -->
      <div class="row gx-3">
        <div class="col-xl-12 col-lg-12">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title">Alerts</h5>
            </div>
            <div class="card-body">
              <div class="alert py-2 d-flex align-items-center justify-content-between bg-dark text-white">
                A simple alert notification with click button.
                <button type="button" class="btn btn-danger">Click</button>
              </div>
              <div class="alert py-2 text-dark d-flex align-items-center justify-content-between bg-secondary">
                A simple alert notification with click button.
                <button type="button" class="btn btn-dark">Click</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title">Alerts</h5>
            </div>
            <div class="card-body">
              <div class="alert bg-primary text-white alert-dismissible fade show" role="alert">
                A simple primary alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert bg-secondary text-dark alert-dismissible fade show" role="alert">
                A simple secondary alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert bg-success text-white alert-dismissible fade show" role="alert">
                A simple success alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert bg-danger text-white alert-dismissible fade show" role="alert">
                A simple danger alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert bg-warning text-white alert-dismissible fade show" role="alert">
                A simple warning alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert bg-info text-white alert-dismissible fade show" role="alert">
                A simple info alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title">Alerts Link</h5>
            </div>
            <div class="card-body">
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                A simple primary alert.
                <a href="#" class="text-decoration-underline alert-link">Check it out!</a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                A simple secondary alert.
                <a href="#" class="text-decoration-underline alert-link">Check it out!</a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                A simple success alert.
                <a href="#" class="text-decoration-underline alert-link">Check it out!</a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                A simple danger alert.
                <a href="#" class="text-decoration-underline alert-link">Check it out!</a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                A simple warning alert.
                <a href="#" class="text-decoration-underline alert-link">Check it out!</a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                A simple info alert.
                <a href="#" class="text-decoration-underline alert-link">Check it out!</a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title">Alerts Link</h5>
            </div>
            <div class="card-body">
              <div class="alert bg-primary text-white alert-dismissible d-flex align-items-center fade show"
                role="alert">
                <i class="ri-alert-line fs-3 me-2 lh-1"></i> A simple primary alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert bg-secondary text-dark alert-dismissible d-flex align-items-center fade show"
                role="alert">
                <i class="ri-spam-line fs-3 me-2 lh-1"></i>
                A simple secondary alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert bg-success text-white alert-dismissible d-flex align-items-center fade show"
                role="alert">
                <i class="ri-error-warning-line fs-3 me-2 lh-1"></i>A simple success alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert bg-danger text-white alert-dismissible d-flex align-items-center fade show"
                role="alert">
                <i class="ri-checkbox-circle-line fs-3 me-2 lh-1"></i>A simple danger alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert bg-warning text-white alert-dismissible d-flex align-items-center fade show"
                role="alert">
                <i class="ri-share-2-line fs-3 me-2 lh-1"></i>A simple warning alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert bg-info text-white alert-dismissible d-flex align-items-center fade show"
                role="alert">
                <i class="ri-alarm-warning-line fs-3 me-2 lh-1"></i>A simple info alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title">Alerts Link</h5>
            </div>
            <div class="card-body">
              <div class="alert alert-primary d-flex align-items-center fade show" role="alert">
                <i class="ri-alert-line fs-3 me-2 lh-1"></i> A simple
                alert.
                <a href="#" class="text-decoration-underline alert-link">Check it out!</a>
              </div>
              <div class="alert alert-secondary d-flex align-items-center fade show" role="alert">
                <i class="ri-spam-line fs-3 me-2 lh-1"></i>
                A simple alert.
                <a href="#" class="text-decoration-underline alert-link">Check it out!</a>
              </div>
              <div class="alert alert-success d-flex align-items-center fade show" role="alert">
                <i class="ri-error-warning-line fs-3 me-2 lh-1"></i>A simple
                alert.
                <a href="#" class="text-decoration-underline alert-link">Check it out!</a>
              </div>
              <div class="alert alert-danger d-flex align-items-center fade show" role="alert">
                <i class="ri-checkbox-circle-line fs-3 me-2 lh-1"></i>A simple
                alert.
                <a href="#" class="text-decoration-underline alert-link">Check it out!</a>
              </div>
              <div class="alert alert-warning d-flex align-items-center fade show" role="alert">
                <i class="ri-share-2-line fs-3 me-2 lh-1"></i>A simple
                alert.
                <a href="#" class="text-decoration-underline alert-link">Check it out!</a>
              </div>
              <div class="alert alert-info d-flex align-items-center fade show" role="alert">
                <i class="ri-alarm-warning-line fs-3 me-2 lh-1"></i>A simple alert.
                <a href="#" class="text-decoration-underline alert-link">Check it out!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Row ends -->

      <!-- Row starts -->
      <div class="row gx-3">
        <div class="col-12">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title">Alerts</h5>
            </div>
            <div class="card-body">
              <div class="alert bg-white border alert-dismissible fade show text-danger" role="alert">
                <b>Danger!</b> A simple danger alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert bg-white border alert-dismissible fade show text-success" role="alert">
                <b>Success!</b> A simple success alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert bg-white border alert-dismissible fade show text-warning" role="alert">
                <b>Warning!</b> A simple warning alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert bg-white border alert-dismissible fade show text-info" role="alert">
                <b>Info!</b> A simple info alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Row ends -->

      <!-- Row starts -->
      <div class="row gx-3">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Alerts</h5>
            </div>
            <div class="card-body">

              <div class="alert bg-white border-danger alert-dismissible fade show text-danger" role="alert">
                <b>Danger!</b> A simple danger alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert bg-white border-success alert-dismissible fade show text-success" role="alert">
                <b>Success!</b> A simple success alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert bg-white border-warning alert-dismissible fade show text-warning" role="alert">
                <b>Warning!</b> A simple warning alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div class="alert bg-white border-info alert-dismissible fade show text-info" role="alert">
                <b>Info!</b> A simple info alert.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Row ends -->

    </div>
    <!-- App body ends -->

    <!-- App footer starts -->
    <div class="app-footer bg-white">
      <span>© Medflex admin 2024</span>
    </div>
    <!-- App footer ends -->

  </div>