
.sidebar-profile {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 20px 13px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 1rem;
}

.img-3x {
    width: 3rem;
    height: 3rem;
}
.img-shadow{
box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    border: 1px solid #fff;
}
.rounded-5 {
    border-radius: var(--bs-border-radius-xxl) !important;
}
.text-nowrap {
    white-space: nowrap !important;
}
.mb-1 {
    margin-bottom: .25rem !important;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-nowrap {
    white-space: nowrap !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.sidenav-container {
    height: 100vh;
  }
  
  .sidenav {
    width: 260px;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
  }
  
  .header {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #1976d2;
    color: white;
  }
  
  .logo {
    height: 40px;
    margin-left: 8px;
  }
  
  .profile {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
  }
  mat-sidenav{
    width: 250px;
  }
  
  mat-nav-list {
    padding: 0;
  }
  
  mat-list-item {
    display: flex;
    align-items: center;
    padding: 4px;
    transition: background-color 0.3s;
    background-color: #1976d2;
  }
  
  mat-list-item mat-icon {
    margin-right: 16px;
  }
mat-icon:hover {
    background-color: #1976d2;
  }
  mat-list-item:hover {
    background-color: #e0e0e0;
    cursor: pointer;
    border-radius: 4px;
  }
  mat-list-item {
    display: flex;
    align-items: center;
    padding: 12px;
  }
  
  .child-item.active {
  background-color: #ffff;
}
  .content {
    padding: 16px;
    display: flex;
    justify-content: ce;
  }

  app-footer{
    position: fixed;
    bottom: 0;
  left: 0;
    height: 100px;
    width: 100%;
    border-radius: 2px;
  }
  .item.icon{
    height: 100px;
  }
 