<div class="app-container">

    <!-- App hero header starts -->
    <div class="app-hero-header d-flex align-items-center">

      <!-- Breadcrumb starts -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
          <a href="/hospital-dashboard">Home</a>
        </li>
        <li class="breadcrumb-item text-primary" aria-current="page">
          Spinners
        </li>
      </ol>
      <!-- Breadcrumb ends -->

      <!-- Sales stats starts -->
      <div class="ms-auto d-lg-flex d-none flex-row">
        <div class="d-flex flex-row gap-1 day-sorting">
          <button class="btn btn-sm btn-primary">Today</button>
          <button class="btn btn-sm">7d</button>
          <button class="btn btn-sm">2w</button>
          <button class="btn btn-sm">1m</button>
          <button class="btn btn-sm">3m</button>
          <button class="btn btn-sm">6m</button>
          <button class="btn btn-sm">1y</button>
        </div>
      </div>
      <!-- Sales stats ends -->

    </div>
    <!-- App Hero header ends -->

    <!-- App body starts -->
    <div class="app-body">

      <!-- Row start -->
      <div class="row gx-3">
        <div class="col-lg-6 col-sm-12 col-12">
          <div class="card mb-3">
            <div class="card-body">
              <div class="text-center">
                <div class="spinner-border" role="status"></div>
                <div class="spinner-border text-primary" role="status"></div>
                <div class="spinner-border text-secondary" role="status"></div>
                <div class="spinner-border text-success" role="status"></div>
                <div class="spinner-border text-danger" role="status"></div>
                <div class="spinner-border text-warning" role="status"></div>
                <div class="spinner-border text-info" role="status"></div>
                <div class="spinner-border text-light" role="status"></div>
                <div class="spinner-border text-dark" role="status"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-12">
          <div class="card mb-3">
            <div class="card-body">
              <div class="text-center">
                <div class="spinner-grow" role="status"></div>
                <div class="spinner-grow text-primary" role="status"></div>
                <div class="spinner-grow text-secondary" role="status"></div>
                <div class="spinner-grow text-success" role="status"></div>
                <div class="spinner-grow text-danger" role="status"></div>
                <div class="spinner-grow text-warning" role="status"></div>
                <div class="spinner-grow text-info" role="status"></div>
                <div class="spinner-grow text-light" role="status"></div>
                <div class="spinner-grow text-dark" role="status"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-12">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex justify-content-center">
                <div class="spinner-border m-5" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-12">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex justify-content-center">
                <div class="spinner-border text-danger m-5" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-12">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex">
                <div class="spinner-border text-info" role="status"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-12">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex justify-content-center">
                <div class="spinner-border text-warning" role="status"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-12">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex justify-content-end">
                <div class="spinner-border text-danger" role="status"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-12">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="spinner-border text-success me-2" role="status" aria-hidden="true"></div>
                <strong>Loading...</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-12">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <strong>Loading...</strong>
                <div class="spinner-border text-danger ms-auto" role="status" aria-hidden="true"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-12">
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="spinner-border text-info me-auto" role="status" aria-hidden="true"></div>
                <strong>Loading...</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-12">
          <div class="card mb-3">
            <div class="card-body">
              <div class="spinner-border text-primary spinner-w1" role="status"></div>
              <div class="spinner-border text-danger spinner-w2" role="status"></div>
              <div class="spinner-border text-info spinner-w3" role="status"></div>
              <div class="spinner-border text-success spinner-w5" role="status"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-12">
          <div class="card mb-3">
            <div class="card-body">
              <div class="spinner-grow text-primary spinner-w1" role="status"></div>
              <div class="spinner-grow text-danger spinner-w2" role="status"></div>
              <div class="spinner-grow text-info spinner-w3" role="status"></div>
              <div class="spinner-grow text-success spinner-w5" role="status"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-12">
          <div class="card mb-3">
            <div class="card-body">
              <button class="btn btn-primary" type="button">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              </button>
              <button class="btn btn-danger" type="button">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
              <button class="btn btn-info" type="button">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Please Wait...
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-12">
          <div class="card mb-3">
            <div class="card-body">
              <button class="btn btn-primary" type="button">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              </button>
              <button class="btn btn-danger" type="button">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
              <button class="btn btn-info" type="button">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Please Wait...
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Row end -->

    </div>
    <!-- App body ends -->

    <!-- App footer starts -->
    <div class="app-footer bg-white">
      <span>© Medflex admin 2024</span>
    </div>
    <!-- App footer ends -->

  </div>