<div class="doctors-wrapper">
  <div class="sidebar">
    <a routerLink="doctors/dashboard" routerLinkActive="active"></a>
    <a routerLink="doctors/list" routerLinkActive="active"></a>
    <a routerLink="doctors/cards" routerLinkActive="active"></a>
    <a routerLink="doctors/doctors-profile" routerLinkActive="active"></a>
    <a routerLink="doctors/add-doctor" routerLinkActive="active"></a>
    <a routerLink="doctors/edit-doctor" routerLinkActive="active"></a>

  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
