<div class="app-container">

    <!-- App hero header starts -->
    <div class="app-hero-header d-flex align-items-center">

      <!-- Breadcrumb starts -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
          <a href="/hospital-dashboard">Home</a>
        </li>
        <li class="breadcrumb-item text-primary" aria-current="page">
          Badges
        </li>
      </ol>
      <!-- Breadcrumb ends -->

      <!-- Sales stats starts -->
      <div class="ms-auto d-lg-flex d-none flex-row">
        <div class="d-flex flex-row gap-1 day-sorting">
          <button class="btn btn-sm btn-primary">Today</button>
          <button class="btn btn-sm">7d</button>
          <button class="btn btn-sm">2w</button>
          <button class="btn btn-sm">1m</button>
          <button class="btn btn-sm">3m</button>
          <button class="btn btn-sm">6m</button>
          <button class="btn btn-sm">1y</button>
        </div>
      </div>
      <!-- Sales stats ends -->

    </div>
    <!-- App Hero header ends -->

    <!-- App body starts -->
    <div class="app-body">

      <!-- Row starts -->
      <div class="row gx-3">
        <div class="col-sm-6">
          <!-- Card starts -->
          <div class="card mb-3">
            <div class="card-body">
              <h1>Example heading <span class="badge bg-primary">New</span></h1>
              <h2>Example heading <span class="badge bg-secondary">New</span></h2>
              <h3>Example heading <span class="badge bg-info">New</span></h3>
              <h4>Example heading <span class="badge bg-danger">New</span></h4>
              <h5>Example heading <span class="badge bg-warning">New</span></h5>
              <h6>Example heading <span class="badge bg-success">New</span></h6>
            </div>
          </div>
          <!-- Card ends -->
        </div>
        <div class="col-sm-6">
          <!-- Card starts -->
          <div class="card mb-3">
            <div class="card-body">
              <h1>Example heading <span class="badge rounded-pill bg-primary">New</span></h1>
              <h2>Example heading <span class="badge rounded-pill bg-secondary">New</span></h2>
              <h3>Example heading <span class="badge rounded-pill bg-info">New</span></h3>
              <h4>Example heading <span class="badge rounded-pill bg-danger">New</span></h4>
              <h5>Example heading <span class="badge rounded-pill bg-warning">New</span></h5>
              <h6>Example heading <span class="badge rounded-pill bg-success">New</span></h6>
            </div>
          </div>
          <!-- Card ends -->
        </div>
        <div class="col-sm-12">
          <!-- Card starts -->
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-inline-flex gap-3 flex-wrap">
                <span class="badge bg-primary">Primary</span>
                <span class="badge bg-secondary text-dark">Secondary</span>
                <span class="badge bg-success">Success</span>
                <span class="badge bg-danger">Danger</span>
                <span class="badge bg-warning">Warning</span>
                <span class="badge bg-info">Info</span>
                <span class="badge bg-light text-dark">Light</span>
                <span class="badge bg-dark">Dark</span>
              </div>
            </div>
          </div>
          <!-- Card ends -->
        </div>
        <div class="col-sm-12">
          <!-- Card starts -->
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-inline-flex gap-3 flex-wrap">
                <span class="badge border border-primary text-primary">Primary</span>
                <span class="badge border border-secondary text-dark">Secondary</span>
                <span class="badge border border-success text-success">Success</span>
                <span class="badge border border-danger text-danger">Danger</span>
                <span class="badge border border-warning text-warning">Warning</span>
                <span class="badge border border-info text-info">Info</span>
                <span class="badge border border-light text-light">Light</span>
                <span class="badge border border-dark text-dark">Dark</span>
              </div>
            </div>
          </div>
          <!-- Card ends -->
        </div>
        <div class="col-sm-12">
          <!-- Card starts -->
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-inline-flex gap-3 flex-wrap">
                <span class="badge border border-primary text-primary"><i class="ri-arrow-right-s-fill"></i>
                  Primary</span>
                <span class="badge border border-secondary text-dark"><i class="ri-arrow-right-s-fill"></i>
                  Secondary</span>
                <span class="badge border border-success text-success"><i class="ri-arrow-right-s-fill"></i>
                  Success</span>
                <span class="badge border border-danger text-danger"><i class="ri-arrow-right-s-fill"></i>
                  Danger</span>
                <span class="badge border border-warning text-warning"><i class="ri-arrow-right-s-fill"></i>
                  Warning</span>
                <span class="badge border border-info text-info"><i class="ri-arrow-right-s-fill"></i> Info</span>
                <span class="badge border border-light text-light"><i class="ri-arrow-right-s-fill"></i>
                  Light</span>
                <span class="badge border border-dark text-dark"><i class="ri-arrow-right-s-fill"></i> Dark</span>
              </div>
            </div>
          </div>
          <!-- Card ends -->
        </div>
        <div class="col-sm-12">
          <!-- Card starts -->
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-inline-flex gap-3 flex-wrap">
                <span class="badge border border-primary bg-primary-subtle text-primary">Primary</span>
                <span class="badge border border-secondary bg-secondary-subtle text-dark">Secondary</span>
                <span class="badge border border-success bg-success-subtle text-success">Success</span>
                <span class="badge border border-danger bg-danger-subtle text-danger">Danger</span>
                <span class="badge border border-warning bg-warning-subtle text-warning">Warning</span>
                <span class="badge border border-info bg-info-subtle text-info">Info</span>
                <span class="badge border border-light bg-light-subtle text-light">Light</span>
                <span class="badge border border-dark bg-dark-subtle text-dark">Dark</span>
              </div>
            </div>
          </div>
          <!-- Card ends -->
        </div>
        <div class="col-sm-12">
          <!-- Card starts -->
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-inline-flex gap-3 flex-wrap">
                <span class="badge rounded-pill bg-primary">Primary</span>
                <span class="badge rounded-pill bg-secondary text-dark">Secondary</span>
                <span class="badge rounded-pill bg-success">Success</span>
                <span class="badge rounded-pill bg-danger">Danger</span>
                <span class="badge rounded-pill bg-warning">Warning</span>
                <span class="badge rounded-pill bg-info">Info</span>
                <span class="badge rounded-pill bg-light text-dark">Light</span>
                <span class="badge rounded-pill bg-dark">Dark</span>
              </div>
            </div>
          </div>
          <!-- Card ends -->
        </div>
        <div class="col-sm-12">
          <!-- Card starts -->
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-inline-flex gap-3 flex-wrap">
                <span class="badge rounded-pill bg-primary"><i class="ri-arrow-right-s-fill"></i> Primary</span>
                <span class="badge rounded-pill bg-secondary text-dark"><i class="ri-arrow-right-s-fill"></i>
                  Secondary</span>
                <span class="badge rounded-pill bg-success"><i class="ri-arrow-right-s-fill"></i> Success</span>
                <span class="badge rounded-pill bg-danger"><i class="ri-arrow-right-s-fill"></i> Danger</span>
                <span class="badge rounded-pill bg-warning"><i class="ri-arrow-right-s-fill"></i> Warning</span>
                <span class="badge rounded-pill bg-info"><i class="ri-arrow-right-s-fill"></i> Info</span>
                <span class="badge rounded-pill bg-light text-dark"><i class="ri-arrow-right-s-fill"></i>
                  Light</span>
                <span class="badge rounded-pill bg-dark"><i class="ri-arrow-right-s-fill"></i> Dark</span>
              </div>
            </div>
          </div>
          <!-- Card ends -->
        </div>
        <div class="col-sm-12">
          <!-- Card starts -->
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-inline-flex gap-3 flex-wrap">
                <span class="badge rounded-pill bg-primary-subtle text-primary">Primary</span>
                <span class="badge rounded-pill bg-secondary-subtle text-dark">Secondary</span>
                <span class="badge rounded-pill bg-success-subtle text-success">Success</span>
                <span class="badge rounded-pill bg-danger-subtle text-danger">Danger</span>
                <span class="badge rounded-pill bg-warning-subtle text-warning">Warning</span>
                <span class="badge rounded-pill bg-info-subtle text-info">Info</span>
                <span class="badge rounded-pill bg-light text-dark">Light</span>
                <span class="badge rounded-pill bg-dark-subtle text-dark">Dark</span>
              </div>
            </div>
          </div>
          <!-- Card ends -->
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <!-- Card starts -->
          <div class="card mb-3">
            <div class="card-body">
              <button type="button" class="btn btn-danger position-relative">
                Inbox
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">10+</span>
              </button>
            </div>
          </div>
          <!-- Card ends -->
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <!-- Card starts -->
          <div class="card mb-3">
            <div class="card-body">
              <button type="button" class="btn btn-outline-primary position-relative">
                Inbox
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">10+</span>
              </button>
            </div>
          </div>
          <!-- Card ends -->
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <!-- Card starts -->
          <div class="card mb-3">
            <div class="card-body">
              <button type="button" class="btn btn-outline-success position-relative">
                Inbox
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">10+</span>
              </button>
            </div>
          </div>
          <!-- Card ends -->
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <!-- Card starts -->
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex gap-2">
                <button type="button" class="btn btn-danger">
                  <i class="ri-chrome-fill"></i>
                </button>
                <button type="button" class="btn btn-outline-info">
                  <i class="ri-firefox-fill"></i>
                </button>
                <button type="button" class="btn btn-outline-success position-relative">
                  <i class="ri-edge-new-fill"></i>
                  <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">10+</span>
                </button>
              </div>
            </div>
          </div>
          <!-- Card ends -->
        </div>
      </div>
      <!-- Row ends -->

    </div>
    <!-- App body ends -->

    <!-- App footer starts -->
    <div class="app-footer bg-white">
      <span>© Medflex admin 2024</span>
    </div>
    <!-- App footer ends -->

  </div>