
.app-footer {
    background-color: #ffffff; 
    padding: 20px 0; 
    text-align: left; 
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
}

.app-footer span {
    font-size: 13px; 
    color: #305cc3; 
    font-weight: normal; 
    letter-spacing: 1px; 
}


