.sidebar-contact {
    padding: 10px 15px 10px 50px;
    background: #0ebb13;
    color: #fff;
    margin: 10px 20px 8px 20px;
    border-radius: 4px;
    position: relative;
    width:15%;
  }
  
  .sidebar-contact i {
    font-size: 1.75rem;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .lh-1 {
    line-height: 1 !important;
  }
  .fw-light {
    font-weight: 300 !important;
  }
  .text-truncate, .table.truncate th, .table.truncate td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  p{
    margin: 0;
  }
  div {
    display: block;
    unicode-bidi: isolate;
  }
  
.app-footer {
    font-size: .725rem;
    margin: .6rem 1.5rem;
    padding: .4rem 1rem;
    color: #116aef;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(40, 90, 185, .1);
}

 ::before, *::after {
    box-sizing: border-box;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;

}
